.container {
  width: 100%;
  padding: 24px;

  .header {
    h1 {
      font-weight: 800;
      font-size: 2rem;
      margin: 0;
      margin-bottom: 6px;
    }

    h3 {
      font-weight: 300;
      font-size: 1.25rem;
      margin: 0;
    }
  }

  .products {
    display: flex;
    margin: 24px auto;
    width: fit-content;
    article {
      padding: 24px;
      position: relative;

      &:not(:first-of-type) {
        margin-left: 24px;
      }

      div {
        position: relative;
        z-index: 1;
        background-color: white;
        padding: 12px;
        border-radius: 4px;
        h3 {
          font-size: 24px;
          margin: 0;
        }
        h5 {
          font-size: 16px;
          margin: 12px 0;
        }

        ul {
          padding: 24px;
          margin: 0;
          height: 160px;
          overflow-y: auto;
          border: 1px solid gainsboro;
          border-radius: 4px;
          list-style: none;
          text-align: left;
          li {
            padding: 0;
            font-size: 14px;

            b {
              color: var(--secondary);
            }
          }
        }
      }
      .product{
        &:hover{
          transform: scale(1.05);
          cursor: pointer;
        }
      }

      aside {
        z-index: 0;
        width: 100%;

        left: 0;
        bottom: 0;
        position: absolute;
        transition: all 1s;
      }
    }
  }

button{
  align-items: center;
  background-clip: padding-box;
  background-color:#71d8bf ;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-5:hover,
.button-5:focus {
  background-color: #71d8bf;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #71d8bf;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}
  footer{
    display: flex;
    justify-content: center;
    gap:80px;
    h3{
      &:hover{
        cursor: pointer;
      }
      &:active{
        background-color: whitesmoke;
        transform: scale(1.05);
      }
    }
  }
}


